# Introduction to Jupyter Notebook
This notebook demonstrates basic functionality in Jupyter Notebook, including markdown, Python code execution, and exporting files.

## Features of Jupyter Notebook
1. Supports Python and other programming languages.
2. Allows visualization and data analysis.
3. Facilitates interactive learning.

- Advantages:
  - Open-source and free.
  - Easy to use for beginners.
  - Supports extensions for advanced tasks.

In [4]:
print("Hello, World!")

Hello, World!

### Learn More About Jupyter Notebook
[Visit Jupyter's official website](https://jupyter.org)

![Python Logo](https://www.python.org/static/community_logos/python-logo.png)

In [6]:
# Perform addition and subtraction
num1 = 10
num2 = 5
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)

Addition: 15
Subtraction: 5

In [8]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [10]:
# This code performs basic arithmetic operations
# It demonstrates how to add and subtract two numbers in Python
num1 = 15
num2 = 7
print("Addition Result:", num1 + num2)
print("Subtraction Result:", num1 - num2)

Addition Result: 22
Subtraction Result: 8

In [12]:
# Measure execution time
%time sum(range(1000))

# List variables in the current environment
%who

CPU times: total: 0 ns
Wall time: 0 ns
a	 b	 num1	 num2

| Name    | Age | Profession  |
|---------|-----|-------------|
| Alice   | 30  | Data Scientist |
| Bob     | 25  | Analyst     |
| Charlie | 35  | Engineer    |

In [3]:
print(type(42))

<class 'int'>

In [5]:
print(type(3.12))

<class 'float'>

In [7]:
print(type('python'))

<class 'str'>

In [10]:
print(type([1,2,3]))

<class 'list'>

In [12]:
print(type({ "name": "John", "age": 30 }))

<class 'dict'>

In [16]:
num = 42
float_num = float(num)
str_num = str(num)
print(float_num)  
print(str_num)    
print(type(float_num))
print(type(str_num))

42.0
42
<class 'float'>
<class 'str'>

In [18]:
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
print(type(fruits))

<class 'list'>

In [49]:
variable = "Python"
if isinstance(variable, str):
    print("The variable is of type str.")

The variable is of type str.

In [22]:
my_tuple = (42, "Python", 3.14)
print(my_tuple[1])

Python

In [24]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict["age"])

25

In [26]:
x = 42
y = 3.14
z = "Python"
print(type(x)) 
print(type(y))  
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
float_num = 3.99
int_num = int(float_num)
print(int_num)

3

In [29]:
user_input = input("Enter something: ")
if user_input.isdigit():
    print("It's a number!")
else:
    print("It's a string!")

Enter something:  12

It's a number!

In [30]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3)
my_dict = {"a": 1, "b": 2, "c": 3}
print(len(my_list))  
print(len(my_tuple))  
print(len(my_dict))

5
3
3

In [32]:
x, y, z = 5, 10, 15
total = x + y + z
print("Sum:", total)

Sum: 30

In [34]:
a, b = 10, 20
a, b = b, a
print("Swapped values:", a, b)

Swapped values: 20 10

In [35]:
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name
print(message)

Hello, Alice

In [37]:
x = 5
x += 10  # Adds 10 to x
x *= 2   # Multiplies x by 2
print("Result:", x)

Result: 30

In [39]:
import math
radius = 7
area = math.pi * radius ** 2
print("Area of the circle:", area)

Area of the circle: 153.93804002589985

In [41]:
import math
a, b, c = 1, -3, 2
discriminant = b**2 - 4*a*c
root1 = (-b + math.sqrt(discriminant)) / (2*a)
root2 = (-b - math.sqrt(discriminant)) / (2*a)
print("Roots:", root1, root2)

Roots: 2.0 1.0

In [43]:
var = 100
print("Memory location of var:", id(var))

Memory location of var: 140708685035032

In [23]:
name = "John"
print(f"Hello, {name}! Welcome.")

Hello, John! Welcome.

In [5]:
x, y = 10, 5
result = (x + y > 10) and (x - y < 10)
print("Result:", result)

Result: True

In [20]:
a, b = 3, 4
result = (a + b) ** 2
print("(a + b)^2 =", result)

(a + b)^2 = 49

# DAY 2

## Exercise 1 Strings

In [28]:
a = "Hello"
b= "Python"

In [32]:
print(a + " " + b)

Hello Python

In [34]:
# Calculate and print the length of the string
text = "Learn to code in Python!"
print(len(text))

24

In [36]:
# Extract the substring "Program" from the string
string = "Python Programming"
substring = string[7:14]
print(substring)

Program

In [38]:
# Convert "Python Rocks!" to different cases
text = "Python Rocks!"
print(text.upper())      
print(text.lower())      
print(text.title())

PYTHON ROCKS!
python rocks!
Python Rocks!

In [40]:
# Replace "bad" with "good" in the string
text = "Python is not bad"
new_text = text.replace("bad", "good")
print(new_text)

Python is not good

In [42]:
# Check if "code" exists in the string
text = "Coding is fun with Python"
print("code" in text)

False

In [47]:
# Reverse the string "Python"
text = "Python"
reversed_text = text[::-1]
print(reversed_text)

nohtyP

In [49]:
# Split and join the string
text = "Learn Python the easy way"
words = text.split()  
joined_text = "-".join(words)  
print(joined_text)

Learn-Python-the-easy-way

In [51]:
# Count how many times 'a' appears in the string
text = "banana apple avocado"
count_a = text.count('a')
print(count_a)

6

In [58]:
# Use f-strings to format and print the sentence
score = 95
subject = "Python"
message = f"I scored {score} in {subject}, which is awesome!"
print(message)

I scored 95 in Python, which is awesome!

## Exercise 2 Lists and Tuples

In [77]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[0])  
print(fruits[-1])

apple
elderberry

In [78]:
fruits.append("fig")  
fruits.remove("cherry")  
fruits[1] = "blueberry"  
print(fruits)

['apple', 'blueberry', 'date', 'elderberry', 'fig']

In [79]:
fruits.sort()  
print(fruits)  

fruits.reverse()  
print(fruits)

['apple', 'blueberry', 'date', 'elderberry', 'fig']
['fig', 'elderberry', 'date', 'blueberry', 'apple']

In [81]:
languages = ["Python", "Java", "C++", "Ruby", "Go"]
print(languages[:3])

['Python', 'Java', 'C++']

In [83]:
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [85]:
numbers_tuple = (10, 20, 30, 40, 50)
print(max(numbers_tuple))  
print(min(numbers_tuple))

50
10

In [87]:
colors = ["red", "green", "blue"]
colors_tuple = tuple(colors)
print(colors_tuple)

('red', 'green', 'blue')

In [89]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [91]:
languages = ["Python", "Java", "C++", "Ruby", "Go"]
index = languages.index("C++")
print(index)

2

## Exercise 3 : Dictionaries

In [106]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [95]:
# Access and print the value of "city"
print(person["city"])

New York

In [104]:
# Update the "age" to 30
person["age"] = 30
print(person)

{'name': 'Alice', 'age': 30, 'country': 'USA'}

In [103]:
# Add a new key "country" with the value "USA"
person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 30, 'country': 'USA'}

In [107]:
# Remove the "city" key from the dictionary
del person["city"]
print(person)

{'name': 'Alice', 'age': 25}

In [109]:
# Check if the key "name" exists
if "name" in person:
    print("Key 'name' exists.")
else:
    print("Key 'name' does not exist.")

Key 'name' exists.

In [111]:
# Iterate over the dictionary
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25

In [118]:
# Merge two dictionaries
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
merged_dict = {**dict1, **dict2}  
print(merged_dict)

{'x': 1, 'y': 3, 'z': 4}

In [120]:
# Print all keys and values
languages = {"Python": 1991, "Java": 1995, "C++": 1985}
print("Keys:", list(languages.keys()))
print("Values:", list(languages.values()))

Keys: ['Python', 'Java', 'C++']
Values: [1991, 1995, 1985]

In [122]:
# Create a dictionary where keys are numbers from 1 to 5 and values are their squares
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Exercise 4: Sets

In [124]:
colors = {"red", "green", "blue"}
print(colors)

{'green', 'red', 'blue'}

In [126]:
colors.add("yellow")
print(colors)

{'green', 'red', 'blue', 'yellow'}

In [127]:
colors.remove("green")
print(colors)

{'red', 'blue', 'yellow'}

In [129]:
print("blue" in colors)

True

In [131]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [133]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [135]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [137]:
set_length = len({1, 2, 3, 4, 5})
print(set_length)

5

In [139]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  
print(set2.issuperset(set1))

True
True

In [140]:
numbers = [1, 2, 2, 3, 4, 4]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4}